<div id="glossary-bar" class="fixed-top bg-grey d-none d-md-block" style="top:55px">
	<div class="container">
		<div class="row pt-3">
			<div class="col-12 col-md-7 col-lg-5">
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
						<span class="input-group-text" id="addon-wrapping">
							<img src="img/octicons/search.svg" />
						</span>
					</div>
					<input id="glossary-search" type="text" class="glossary-search form-control" results-container="glossary-search-results" placeholder="Chromista">
				</div>
				<div id="glossary-search-results" class="p-3 glossary-search-results lg hidden" data-input-id="glossary-search">results</div>
			</div>
		</div>
		<div class="row py-3">
			<div class="col-12">
				<div class="glossary-alphabet">
					{{#each glossary }}
						<div class="glossary-link py-1 px-3 mx-1 mb-1 bg-white text-primary" jumpto="glossary-{{@key}}">
							{{@key}}
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<div id="glossary-page" class="page d-flex solid">

	<div class="container">
		<div class="row">
			<div class="col-12">
				{{#if show_used_terms_only}}
					<button class="tap btn btn-xs btn-secondary" link="glossary/2309626d-5894-4c18-9b99-bfeb5275eb39/">{{t 'show unused'}}</button>
				{{else}}
					<button class="tap btn btn-xs btn-secondary" link="glossary/2309626d-5894-4c18-9b99-bfeb5275eb39/?used_terms=1">{{t 'hide unused'}}</button>
				{{/if}}
			</div>
		</div>
		<div class="row pb-5">
			<div class="col-12">
				{{#each glossary }}
				
					{{#with this as | glossaryEntry |}}

						
						<div class="row mt-4">
							<div class="col-12 bg-light pt-2">
								<h3 id="glossary-{{@key}}">{{@key}}</h3>
							</div>
							{{#each glossaryEntry}}
								<div id="glossary-entry-{{@key}}" class="col-12 mt-3">
									<div>
										<div class="h5">
											<strong>{{@key}}</strong><br>
											{{#if this.synonyms}}
											<div class="text-muted h6">
												{{tp 'Synonyms'}}: 
												{{#each this.synonyms }}
													{{ this }}{{#if @last}}{{else}},{{/if}}
												{{/each}}
											</div>
										{{/if}}
										</div>
										
									</div>
									<div>
										{{ this.definition }}
									</div>
									<hr>
								</div>
								
							{{/each}}
						</div>
					{{/with}}
					
				{{/each}}
			</div>
		</div>
		
	</div>
</div>
<div class="fixed-bottom bg-grey d-md-none">
	<div class="container">
		<div class="row py-3">
			<div class="col-3 text-center">
				<select id="glossary-select" class="custom-select">
					{{#each glossary }}
						<option value="glossary-{{@key}}">{{@key}}</option>
					{{/each}}
				</select>
			</div>
			<div class="col-8">
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
						<span class="input-group-text" id="addon-wrapping">
							<img src="img/octicons/search.svg" />
						</span>
					</div>
					<input id="glossary-search-sm" type="text" class="glossary-search form-control" results-container="glossary-search-results-sm" placeholder="Chromista">
				</div>
				<div id="glossary-search-results-sm" class="p-3 glossary-search-results sm hidden" data-input-id="glossary-search-sm">results</div>
			</div>
		</div>
	</div>
</div>
