{% extends 'app_kit/manage_generic_content.html' %}
{% load i18n localcosmos_tags %}

{% block generic_content_specific %}

	<div class="card">
		<div class="card-body">
			<h4 class="card-title">{% trans 'Create your taxon profiles' %}</h4>
			<div>{% trans 'Type the name of the taxon you want to manage the profile for or select a taxon from your nature guides.' %}</div>
			<form>
				<div class="form-group">
					{{ searchbackboneform }}
				</div>
			</form>
			<hr>
			<h5>{% trans 'Taxa from nature guides' %}</h5>
			<div id="taxa" class="card-body endless_page_template">
				{% include 'taxon_profiles/ajax/taxonlist.html' %}
			</div>
		</div>
	</div>

{% endblock %}

{% block extra_script %}

	<script>
		

		var get_manage_or_create_baseurl = "{% url 'get_taxon_profiles_manage_or_create_url' meta_app.id generic_content.id %}";

		var taxon_source_input = document.getElementById("id_taxon_0");
		var taxon_latname_input = document.getElementById("id_taxon_1");
		var taxon_author_input = document.getElementById("id_taxon_2")
		var name_uuid_input = document.getElementById("id_taxon_3")

		name_uuid_input.addEventListener("change", function(event){

			if (taxon_source_input.value && name_uuid_input.value){
				// create taxon profile or manage taxon profile?
				// currently name_uuid is used. maybe use latname&author - what happens if a taxon DB gets updated with name_uuid?
				// var url = base_url + '?taxon_source=' + source_input.value + '&taxon_latname=' + taxon_latname_input.value + '&taxon_author=' + encodeURIComponent(taxon_author_input.value);
				var determineURL_url = get_manage_or_create_baseurl + '?taxon_source=' + taxon_source_input.value + '&name_uuid=' + name_uuid_input.value;
				$.get(determineURL_url, function(data){
					if (typeof data == "object"){
						window.location = data.url;
					}
				}); 
				
			}
		});
	</script>

{% endblock %}
