{% extends 'localcosmos_server/modals/modal_form.html' %}
{% load i18n localcosmos_tags %}

{% block action %}
	{% if object_class %}{% url 'edit_object_class' meta_app.id object_classes.id object_class.id %}{% else %}{% url 'create_object_class' meta_app.id object_classes.id %}{% endif %}
{% endblock %}

{% block title %}
	{% if object_class %}
        {% blocktrans %}Edit {{ object_class }}{% endblocktrans %}
    {% else %}
        {% trans 'Create new object class' %}
    {% endif %}
{% endblock %}


{% block footer %}
	{% include 'localcosmos_server/modals/footers/save_close.html' %}
{% endblock %}

{% block script %}
	{% if success is True %}
        <script>
            fetch("{% url 'get_object_classes' meta_app.id object_classes.id %}",{
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(response => response.text())
                .then(html => {
                    document.getElementById("object-classes-container").innerHTML = html;
                    ajaxify('object-classes-container');
                    // close the modal
                    hideModal();
                });
        </script>
	{% endif %}
{% endblock %}