{% load i18n localcosmos_tags %}
<form class="xhr" method="POST" action="{% url 'add_glossary_entry' generic_content.id %}">
	{% render_bootstrap_form glossary_entry_form %}
	{% if saved_glossary_entry %}
		<div class="alert alert-success">{% blocktrans with term=glossary_entry.term %}Successfully saved glossary entry for the term {{ term }}.{% endblocktrans %}</div>
	{% endif %}
	<button type="submit" class="btn btn-outline-primary">{% trans 'Add' %}</button>
</form>
{% if saved_glossary_entry %}
	<script>
		$.get("{% url 'get_glossary_entries' generic_content.id %}", function(html){
			$("#glossary-entries").html(html);
			ajaxify("glossary-entries");
		});
	</script>
{% endif %}
