{% load i18n %}

<td>
	<b>{{ glossary_entry.term }}</b>
	{% if glossary_entry.synonyms %}
		<br>
		{% trans 'Also:' %}
		{% for synonym in glossary_entry.synonyms %}
			{{ synonym.term }},
		{% endfor %}
	{% endif %}
</td>
<td>{{ glossary_entry.definition }}</td>
<td>
	<div class="btn-group dropup">
		<button type="button" class="btn btn-outline-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{% trans 'Modify' %} <span class="caret"></span>
		</button>
		<div class="dropdown-menu">
			<a data-url="{% url 'edit_glossary_entry' generic_content.id glossary_entry.id %}" class="dropdown-item xhr" ajax-target="LargeModalContent">{% trans 'Edit' %}</a>
			<a data-url="{% url 'delete_glossary_entry' glossary_entry.id %}" class="dropdown-item xhr" ajax-target="ModalContent">{% trans 'Delete' %}</a>
		</div>
	</div>
</td>
