{% load i18n %}
{% if deleted %}
	<script>
		{% if generic_field_role == "regular" %}
			{% if generic_field_id %}
				$("#li-{{ generic_field_id }}").remove();
			{% endif %}

			hideModal();

		{% else %}
			window.location.reload();
		{% endif %}
	</script>
{% else %}
	<form method="POST" action="{% url 'delete_generic_field' meta_app.id generic_field_id %}" class="xhr">{% csrf_token %}
		<div class="modal-header">
			<h5 class="modal-title">{% trans 'Delete field' %}</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<p>
				{% trans 'Do you really want to delete this field?' %}
			</p>
		</div>
		<div class="modal-footer">
			{% include 'localcosmos_server/modals/footers/delete.html' %}
		</div>
	</form>
	<script>
		showModal();
	</script>
{% endif %}
