{% extends 'app_kit/manage_generic_content.html' %}
{% load i18n static app_tags %}

{% block generic_content_specific %}
	<div class="row mt-4 mb-4">
		<div class="col-12"><b>{% trans 'Type of map:' %} {{ generic_content.map_type }}</b></div>
		<div class="col-12">
			{% if generic_content.map_type == 'observations' %}
				{% trans 'This map shows the observations made with your app.' %}
			{% endif %}
		</div>
	</div>
	<div id="map-{{ generic_content.id }}" class="map {{ generic_content.map_type }}-map"></div>
	<div class="row mt-4">
		<div class="col-12">
			<h4>{% trans 'Initial view' %}</h4>
			{% trans 'You can set the initial zoom level and center for the Map in your app.' %}<br>
			<button id="setAppMapInitialView" type="button" class="btn btn-outline-primary">{% trans 'Set current view as initial view' %}</button>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12">
			<h4>{% trans 'Project area' %}</h4>
			{% trans 'Optionally restrict you project to a specific area. This only has an effect if you collect observations.' %}<br>
			<a href="{% url 'manage_project_area' meta_app.id content_type.id generic_content.id %}" class="btn btn-outline-primary xhr" ajax-target="LargeModalContent">{% trans 'Manage project area' %}</a>
		</div>
	</div>

{% endblock %}

{% block extra_head_script %}
	<link rel="stylesheet" href="{% static 'maps/leaflet/leaflet.css' %}" />
	<script src="{% static 'maps/leaflet/leaflet.js' %}"></script>

	<link rel="stylesheet" href="{% static 'app_kit/maps/Leaflet.draw/src/leaflet.draw.css' %}" />
	<script src="{% static 'app_kit/maps/Leaflet.draw/src/Leaflet.draw.js' %}"></script>
	<script src="{% static 'app_kit/maps/Leaflet.draw/src/Leaflet.Draw.Event.js' %}"></script>
	<script src="{% static 'app_kit/maps/Leaflet.draw/src/Toolbar.js' %}"></script>
	<script src="{% static 'app_kit/maps/Leaflet.draw/src/Tooltip.js' %}"></script>

    <script src="{% static 'app_kit/maps/Leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/ext/TouchEvents.js' %}"></script>

    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>


    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script>

    <script src="{% static 'app_kit/maps/Leaflet.draw/src/Control.Draw.js' %}"></script>

    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'app_kit/maps/Leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>

	<!-- google maps -->
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjGlftX1wUpCVxYg0lMgGe7IViIaL0HWc"></script>-->
{% endblock %}

{% block extra_script %}
	<script type="text/javascript" src="{% static 'anycluster/anycluster.js' %}"></script>
    <script type="text/javascript" src="{% static 'anycluster/django_ajax_csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'anycluster/anycluster_marker.js' %}"></script>

	<script>
		{% get_generic_content_option generic_content 'initial_longitude' as initial_longitude %}
		{% get_generic_content_option generic_content 'initial_latitude' as initial_latitude %}
		{% get_generic_content_option generic_content 'initial_zoom' as initial_zoom %}


		var initial_longitude = 30,
			initial_latitude = 30,
			initial_zoom = 3;

		{% if initial_longitude %}
			initial_longitude = {{ initial_longitude }};
		{% endif %}
		
		{% if initial_latitude %}
			initial_latitude = {{ initial_latitude }};
		{% endif %}

		{% if initial_zoom %}
			initial_zoom = {{ initial_zoom }};
		{% endif %}

		var map_markers = {

			"taxonomy.sources.col" : {
				"001008002001" : "{% static 'maps/markers/Anura.png' %}",
				"001003007004" : "{% static 'maps/markers/Coleoptera.png' %}",
				"00100300700d" : "{% static 'maps/markers/Lepidoptera.png' %}",
				"00100300700j" : "{% static 'maps/markers/Odonata.png' %}",
				"00100800a" : "{% static 'maps/markers/Mammalia.png' %}",
				"001003007" : "{% static 'maps/markers/Insecta.png' %}",
				"001008005" : "{% static 'maps/markers/Aves.png' %}",
				"001003001" : "{% static 'maps/markers/Arachnida.png' %}",
				"001008002" : "{% static 'maps/markers/Amphibia.png' %}",
				"00100l" : "{% static 'maps/markers/Mollusca.png' %}",
				"001008" : "{% static 'maps/markers/Chordata.png' %}",
				"001003" : "{% static 'maps/markers/Arthropoda.png' %}",
				"001" : "{% static 'maps/markers/Animalia.png' %}",
				"006" : "{% static 'maps/markers/Plantae.png' %}",
				"005" : "{% static 'maps/markers/Fungi.png' %}"
			}
		};

		
		var get_marker = function(cluster){

			var pinimg = cluster["pinimg"];
			var taxon_source = cluster["taxon_source"]

			var pin_url = "{% static 'maps/markers/marker_unknown.png' %}";

			for (var nuid in map_markers[taxon_source]){
				if (pinimg.indexOf(nuid) == 0){
					pin_url = map_markers[taxon_source][nuid];
					break;
				}
			}
			return pin_url;
		};

		var mapdiv_id = "map-{{ generic_content.id }}";

		// correct markerImageSizes for the LC single pin
		markerImageSizes[1] = [27, 40];

		var anycluster_settings = {
			"mapType" : "leaflet",
			"clusterMethod" : "kmeans",
			"gridSize" : 256,
			"zoom" : initial_zoom,
			"center" : [initial_latitude, initial_longitude],
			"baseURL" : "/app-kit/anycluster/",
			"minZoom" : 4,
			singlePinImages: get_marker,
			onFinalClick : function(entries_html){
			
				$("#ModalContent").html(entries_html);
			}
		};
		var anycluster = new Anycluster(mapdiv_id, anycluster_settings);


		var setview_btn = document.getElementById("setAppMapInitialView");
		function setAppMapInitialView(event){
			var center = anycluster.map.getBounds().getCenter();
			var zoom = anycluster.map.getZoom();			
			
			var initial_latitude_input = document.getElementById("id_initial_latitude");
			var initial_longitude_input = document.getElementById("id_initial_longitude");
			var initial_zoom_input = document.getElementById("id_initial_zoom");

			initial_longitude_input.setAttribute("readonly", false);
			initial_latitude_input.setAttribute("readonly", false);
			initial_zoom_input.setAttribute("readonly", false);

			initial_longitude_input.value = center.lng;
			initial_latitude_input.value = center.lat;
			initial_zoom_input.value = zoom;

			initial_longitude_input.setAttribute("readonly", true);
			initial_latitude_input.setAttribute("readonly", true);
			initial_zoom_input.setAttribute("readonly", true);

			document.getElementById("options-form-{{ generic_content.uuid }}").submit();
		}

		setview_btn.addEventListener("click", setAppMapInitialView);

	</script>

{% endblock %}
