{% load i18n el_pagination_tags %}
{% paginate 10 non_nature_guide_taxon_profiles using 'non_ng_taxa_page' %}
<ul>
    {% for profile in non_nature_guide_taxon_profiles %}
        <li>
            <a href="{% url 'manage_taxon_profile' meta_app.id profile.id %}">
                <i>{{ profile.taxon_latname }}</i> {% if profile.taxon_author %}{{ profile.taxon_author }}{% endif %}
            </a>
            {% if profile.publication_status == 'draft' %}
            <span class="badge badge-warning">{% trans 'draft' %}</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<p>
    {% show_pages %}
</p>