{% load i18n static localcosmos_tags %}

<form method="POST" action="{% url 'move_custom_taxon' taxon.name_uuid %}" class="xhr">{% csrf_token %}
	<div class="modal-header">
		<h5 class="modal-title">{% blocktrans with name=taxon.taxon_latname %}Move {{ name }}{% endblocktrans %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div class="alert alert-info">
			{% trans 'If you move a taxon in the tree, all of its descendants will be moved, too.' %}
		</div>
		<p>
			{% include 'localcosmos_server/bootstrap_form.html' %}
		</p>
		{% if success is True %}
			<div class="alert alert-success">
				{% trans 'Successfully moved taxon.' %}
			</div>
		{% endif %}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
		<button type="submit" class="btn btn-outline-primary">{% trans 'Move' %}</button>
	</div>
</form>
<script>

	showModal();
	
	{% if success is True %}

		hideModal()

		var new_parent_element_id = '#{{ new_parent_taxon.name_uuid }}-children';

		var new_parent_element_notaxa = $('#{{ new_parent_taxon.name_uuid }}-notaxa');

		if ($(new_parent_element_id).length){
			$("#ctype-{{ taxon|ctype_id }}-{{ taxon.id }}").detach().appendTo(new_parent_element_id);
		}
		else {
			$("#ctype-{{ taxon|ctype_id }}-{{ taxon.id }}").remove();
		}

		if (new_parent_element_notaxa.length){
			new_parent_element_notaxa.remove();
		}
	{% endif %}
</script>
