{% load i18n static localcosmos_tags app_tags %}
<div id="ctype-{{ link|ctype_id }}-{{ link.id }}" class="col-12 col-md-6 col-lg-4 mb-4">
	<div class="card">
		<div class="card-header">
			<img src="{% get_static_prefix %}app_kit/images/features/{{ link.generic_content|class_name }}.svg" alt="{{ link.generic_content|verbose_name }}" width="30" height="auto"/>
			<small>{{ link.generic_content|verbose_name }}</small>
			{% if link|generic_content_link_deletable %}
				<div class="dropdown float-right d-inline-block">
					<button class="btn btn-xs btn-outline-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
					<div class="dropdown-menu">
						<a class="dropdown-item xhr" data-url="{% url 'remove_app_generic_content' link.id %}" ajax-target="ModalContent">{% trans 'Delete' %}</a>
					</div>
				</div>
			{% endif %}
			<img src="{% static 'octicons/question.svg' %}" alt="question" class="octicon large float-right mr-1"  data-toggle="popover" title="{{ link.generic_content|verbose_name }}" data-content="{% get_generic_content_help_text link.generic_content %}" data-placement="left" />
		</div>
		<div class="card-body" style="position:relative;">
			<h5 class="card-title">{{ link.generic_content }}</h5>
			<div class="text-right">
				<strong><a href="{% url link.manage_url meta_app.id link.content_type.id link.object_id %}" class="stretched-link">{% trans 'Edit' %}</a></strong>
			</div>
		</div>
	</div>
</div>
