{% extends 'app_kit/ajax/content_image_form.html' %}
{% load i18n localcosmos_tags app_tags %}

{% block base_url %}{% if content_image %}{% url 'manage_factsheet_image' fact_sheet.id microcontent_category content_image.id %}{% else %}{% url 'manage_factsheet_image' fact_sheet.id microcontent_category content_type.id content_instance.id image_type %}{% endif %}{% endblock %}

{% block script %}

	{% block extra_script %}{% endblock %}

	<script>

		{% if request.method == 'POST' and form.is_valid %}

			{% include 'fact_sheets/ajax/reload_factsheet_images.html' %}

			$("#LargeModal").modal("hide");
			$("#LargeModalContent").empty();

		{% else %}
			{% include 'app_kit/snippets/ckeditor_js_snippet.html' %}
		{% endif %}
	</script>

	<style>
		.ck-editor__editable {
			min-height: 50px;
		}
	</style>

	
{% endblock %}