{% extends 'app_kit/manage_generic_content.html' %}
{% load i18n localcosmos_tags  %}

{% block generic_content_specific %}

	{% if fact_sheets %}
		<div class="row">
			{% for fact_sheet in fact_sheets %}
				<div class="col-12 col-md-6 col-lg-4">
				
					<div class="card">
						<div class="card-header">
							{{ fact_sheet.template_name }}
							<div class="dropdown float-right d-inline-block">
								<button class="btn btn-xs btn-outline-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item xhr" data-url="{ url 'remove_app_generic_content' link.id }" ajax-target="ModalContent">{% trans 'Delete' %}</a>
								</div>
							</div>
						</div>
						<div class="card-body" style="position:relative;">
							<h5 class="card-title">{{ fact_sheet.title }}</h5>
							<div class="text-right">
								
								<strong><a class="stretched-link" href="{% url 'manage_factsheet' meta_app.id fact_sheet.id %}">{% trans 'Edit' %}</a></strong>

							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-info">
			{% trans 'You have no fact sheets yet.' %}
		</div>
	{% endif %}
	<hr>
	<div class="row">
		<div class="col-12">
			<a href="{% url 'create_factsheet' meta_app.id generic_content.id %}" class="btn btn-outline-primary">{% trans 'create new fact sheet' %}</a>			
		</div>
	</div>
{% endblock %}

{% block extra_script %}{% endblock %}
